body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header{
    background-color: #111;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 60px;
    background: #4caf50;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo{
    width: 60px;
    height: auto;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

button{
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.projects{
    padding: 40px;
    text-align: center;
}

.card{
    background: white;
    padding: 20px;
    margin: 15px;
    display: inline-block;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer{
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

.apropos h2{
    text-decoration: underline;
    font-size: 35px;
}
.apropos p{
    font-size: 20px;
}